
@{
    ViewBag.Title = "SearchStore";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">搜尋結果</h1>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        共搜尋到593台餐車
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1">1</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-2">2</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-3">3</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-3">4</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-3">5</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-3">...</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-3">11</a>
                    </li>
                    <li class="nav-item me-0">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-3">12</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="./storeInfo.html"><img class="img-fluid" src="imgs/Roll02.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">北部</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">食物分類</div>
                            </div>
                            <div class="p-4 pb-0">
                                <a class="d-block h5 mb-2" href="./storeInfo.html">店名</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>地址</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa-solid fa-heart text-primary me-2"></i>加入我的最愛</small>
                                <small class="flex-fill text-center py-2"><i class="fa-solid fa-user-pen text-primary me-2"></i>評分</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" style="width:50%" data-wow-delay="0.1s">
                        <span style="background-color: #f28705;
                             font-size: 20px;
                             color:white;
                             padding:10px;
                             border-radius:20px;">3.7★</span>

                        <a href="">(15則評論)</a>
                        <br>
                        <br>

                        <span style="background-color: #f28705;
                             font-size: 20px;
                             color:white;
                             padding:10px;
                             border-radius:20px;
                             margin-top: 50px;">今日營業</span>

                        <span>10:00~14:00</span>
                        <br>
                        <br>
                        <span style="background-color: #f28705;
                             font-size: 20px;
                             color:white;
                             padding:10px;
                             border-radius:20px;
                             margin-top: 50px;">餐車簡介</span>
                        <div style="margin:20px">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempora molestias impedit, culpa id omnis pariatur quibusdam accusamus debitis temporibus delectus optio. Obcaecati, modi cupiditate doloribus molestiae dolorem dolores sed.
                            Repellendus, consequuntur dicta sequi at blanditiis possimus. Rerum esse totam excepturi laborum quisquam delectus consequuntur blanditiis cupiditate ipsam maiores iure magni, sunt voluptas explicabo, alias facilis? Atque odio tenetur aut.
                            Doloremque, itaque veniam! Ipsa corrupti harum dolor at hic facere impedit iste eveniet odit assumenda!
                        </div>


                    </div>
                </div>


                <div class="row g-4" style="margin-top:30px;">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="./storeInfo.html"><img class="img-fluid" src="imgs/Roll02.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">北部</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">食物分類</div>
                            </div>
                            <div class="p-4 pb-0">
                                <a class="d-block h5 mb-2" href="./storeInfo.html">店名</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>地址</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa-solid fa-heart text-primary me-2"></i>加入我的最愛</small>
                                <small class="flex-fill text-center py-2"><i class="fa-solid fa-user-pen text-primary me-2"></i>評分</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" style="width:50%" data-wow-delay="0.1s">
                        <span style="background-color: #f28705;
                            font-size: 20px;
                            color:white;
                            padding:10px;
                            border-radius:20px;">3.7★</span>

                        <a href="">(15則評論)</a>
                        <br>
                        <br>

                        <span style="background-color: #f28705;
                            font-size: 20px;
                            color:white;
                            padding:10px;
                            border-radius:20px;
                            margin-top: 50px;">今日營業</span>

                        <span>10:00~14:00</span>
                        <br>
                        <br>
                        <span style="background-color: #f28705;
                            font-size: 20px;
                            color:white;
                            padding:10px;
                            border-radius:20px;
                            margin-top: 50px;">餐車簡介</span>
                        <div style="margin:20px">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempora molestias impedit, culpa id omnis pariatur quibusdam accusamus debitis temporibus delectus optio. Obcaecati, modi cupiditate doloribus molestiae dolorem dolores sed.
                            Repellendus, consequuntur dicta sequi at blanditiis possimus. Rerum esse totam excepturi laborum quisquam delectus consequuntur blanditiis cupiditate ipsam maiores iure magni, sunt voluptas explicabo, alias facilis? Atque odio tenetur aut.
                            Doloremque, itaque veniam! Ipsa corrupti harum dolor at hic facere impedit iste eveniet odit assumenda!
                        </div>
                    </div>
                </div>
                @*cardEnd*@
            </div>
        </div>
    </div>
</div>