
@{
    ViewBag.Title = "RegisterIdentity";
}


<section class="ftco-section">
    <div class="container">
        <div class="row  justify-content-center">
            <div id="Card3" class="card3" style="margin:75px;">
                <div class="card-image3">
                    <img src="~/Content/imgs/test.jpg"alt="">
                </div>
                <div class="card-title3" style="text-align:center;">
                    店家
                </div>
                <div class="price3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, distinctio sapiente ipsum.</div>
                <div class="card-button3" style="text-align:center;">@Html.ActionLink("註冊", "DoRegisterStore", "Member")</div>
            </div>

            <div id="Card3" class="card3" style="margin:75px;">
                <div class="card-image3">
                    <img src="~/Content/imgs/test.jpg" alt="">
                </div>
                <div class="card-title3" style="text-align:center;">
                    一般用戶
                </div>
                <div class="price3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, distinctio sapiente ipsum.</div>

                <div class="card-button3" style="text-align:center;">@Html.ActionLink("註冊", "Register", "Customer")</div>
            </div>
        </div>
    </div>
</section>